*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Dancing Script", cursive;
    background-color: #c78888;
}

.title{
    text-align: center;
    padding: 20px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-around;
    flex-grow: 1 1 1 1;

}

.container div{
    width: 200px;
    margin: 10px;
}