*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Dancing Script", cursive;
    background-color: #c78888;
}

h1{
    text-align: center;
    padding: 20px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

img{
    padding: 10px;
}